



#navbarMonstera {
    display: flex;
    /* margin: 20px; */
}


#navFirst > img {
    width: 100px;
    margin-top: 35px;
    margin-left: 40px;
}

#navMid {
    display: flex;
    margin-left: 150px;
    margin-top: 8px;
    
    
}

#navMid > div > h4 {
    margin: 35px;
    font-family: 'Allerta', sans-serif;
    cursor: pointer;
}

#navMid > div:nth-child(1) > h4 {
    /* text-decoration: underline; */
    padding-bottom: 5px;
    border-bottom: 1.7px solid #000000;
}


#navEnd {
    display: flex;
    margin-left: 150px;
    margin-top: 25px;

}

#navEnd > div > img {
    margin: 15px;
    cursor: pointer;
}

#imgMain {
    float: right;
}


#midWhole {
    margin-top: 100px;
}



#monstera {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Allerta', sans-serif;
    /* font-weight: 400; */
}


/* #midWholePart1 #midWholePart11 {
   
} */

#midWholePart11 > div > ul > li:nth-child(2) {
    margin-top: -40px;

}

#midWholePart11 > div > ul > li:nth-child(3) {
    margin-top: 0px;
    font-weight: 600;
    font-family: 'Abel', sans-serif;
    margin-left: 1px;
    margin-right: 850px;
}

#midWholePart11 > div > ul > li:nth-child(4) {
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Abel', sans-serif;
    margin-left: 1px;
    margin-right: 850px;
    margin-bottom: 25px;
}



#midWholePart121 > div > h1 {
    background-color: #2c6646;
    display: inline;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Allerta', sans-serif;
    margin-left: 30px;
    cursor: pointer;
}





#feeding {
    float: left;

}

#light {
    float: left;
}

#care {
    float: left;
}



#midWholePart13 {
    display: flex;

}




.fdng {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 20px;
}

.fdng > h4 {
    font-family: 'Allerta', sans-serif;
} 

.fdng > .t1 {
    margin-right: 10px; 
    margin-top: -20px;
}


#feeding {
    width: 70px;
    margin-top: 40px;
    margin-left: 10px;
}



.lgt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -50px;
    
}

.lgt > h4 {
    font-family: 'Allerta', sans-serif;
}

.lgt > .t2 {
    margin-right: 30px;
    margin-top: -20px;
}

#light {
    margin-left:  -30px;
    margin-top: 40px;
    width: 40px;
    margin-right: 5px;
}








.cre {
    display: flex;
    flex-direction: column;
    gap: -100px;
    margin-right: 500px;
    margin-left: 5px;
    margin-top: 20px;
  
}

.cre > h4 {
    font-family: 'Allerta', sans-serif;
}

.cre > .t3 {
    margin-right: -150px;
    margin-top: -20px;
}


#care {
    margin-left:  -30px;
    margin-top: 40px;
    width: 50px;
    margin-right: 5px;
}





#imgMain {
    width: 400px;
    height: 470px;
    margin-top: -465px;
    margin-right: -5px;
}










